# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
hello.log

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Editor-specific
.vscode/
.idea/
*.swp
